.BreadBottom {
    height: 10%;
    width: 80%;
    background: linear-gradient(#4d2600, #663300);
    border-radius:10px 10px 10px 10px;
    box-shadow: inset -15px 0 #4d2600;
    margin: 2% auto;
}



.Szynka {
    width: 80%;
    height: 4.5%;
    background: linear-gradient(#ffccff, #ccccff);
    margin: 2% auto;
    border-radius: 15px;
}

.Ser {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salata {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}
